
// this is the url of my original page,
//  so I am forwarding it to the new demo page:

html
	head
		meta(
			http-equiv="refresh" 
			content="0; url=http://nickperkinslondon.github.io/angular-bootstrap-nav-tree/test/bs2_ng115_test_page.html"
			)