
html
	head
		link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css")

	body

		h1 angular-bootstrap-nav-tree
		h2 test pages:
		br
		br
		a(href='bs2_ng115_test_page.html') Bootstrap 2 / Angular 1.1.5
		br
		a(href='bs3_ng115_test_page.html') Bootstrap 3 / Angular 1.1.5
		br
		a(href='bs2_ng120_test_page.html') Bootstrap 2 / Angular 1.2.0
		br
		a(href='bs3_ng120_test_page.html') Bootstrap 3 / Angular 1.2.0


