
<ul class="nav nav-list nav-pills nav-stacked abn-tree">
  <li ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid" ng-animate="'abn-tree-animate'" ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'') + ' ' +row.classes.join(' ')" class="abn-tree-row"><span><i ng-class="row.tree_icon" ng-click="row.branch.expanded = !row.branch.expanded; onExpand(row)" class="indented tree-icon"></i><a ng-click="user_clicks_branch(row.branch)" class="indented tree-label">{{ row.label }}</a></span></li>
</ul>